<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.fkgmania.mantap"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>FlappyGame</name>

  <description>
      My life really flappy during this pandemic, so i made this game to entertain myself.
  </description>

  <author href="https://www.remarkable.my.id" email="ekiezza@gmail.com">
      Eki Azzaky
  </author>

<icon src="icon.png" />

</widget>